<div class="container pt-5">
    <table class="table table-striped" id="productsTable">
        <thead>
            <tr>
                <th scope="col">COUPEN ID </th>
                <th scope="col">COUPEN CODE</th>
                <th scope="col">COUPEN DESCRIPTION</th>
                <th scope="col">COUPEN DISCOUNT</th>
                <th scope="col">EDIT</th>
                <th scope="col">DELETE</th>
            </tr>
        </thead>
        <tbody>
            {{#if coupenExist}}
            <p class="text-danger">THE COUPEN IS ALREDY EXISTED</p>

            {{/if}}
            {{#each allCoupens}}

            <tr>
                <th scope="row">{{this.coupenid}}</th>
                <td>{{this.coupencode}}</td>
                <td>{{this.coupendescription}}</td>
                <td>{{this.coupendiscount}}</td>
                <td><button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModalCenteryu{{this._id}}">
                        Edit
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenteryu{{this._id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Coupons</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container ">
                                        <form action="/admin/update-coupen/{{this._id}}" method="post"
                                            class="editcoupen" id="editcoupen{{this._id}}">
                                            <div class="mb-3">
                                                <div class="col-md-12 form-group ">
                                                    <input type="text" class="form-control" id="coupenid{{this._id}}"
                                                        name="coupenid" value="{{this.coupenid}}"
                                                        placeholder="COUPEN ID" />
                                                </div>
                                                <div class="col-md-12 form-group ">
                                                    <input type="text" class="form-control" id="coupencode{{this._id}}"
                                                        name="coupencode" value="{{this.coupencode}}"
                                                        placeholder="COUPEN CODE" />
                                                </div>
                                                <div class="col-md-12 form-group ">
                                                    <input type="text" class="form-control"
                                                        id="coupendescription{{this._id}}" name="coupendescription"
                                                        value="{{this.coupendescription}}"
                                                        placeholder="COUPEN DESCRIPTION" />
                                                </div>
                                                <div class="col-md-12 form-group ">
                                                    <input type="text" class="form-control"
                                                        id="coupendiscount{{this._id}}" name="coupendiscount"
                                                        value="{{this.coupendiscount}}" placeholder="COUPEN DISCOUNT" />
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td><a href="/admin/delete-coupen/{{this._id}}" class="btn btn-danger" onclick="return  confirm('Do You Want To Delete This Coupon') "  >Delete</td></a>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<!-- Button trigger modal -->
<div class="text-center pt-2">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        ADD COUPONS
    </button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ADD COUPONS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container ">
                    <form action="/admin/addcoupen" method="post" id="viewcoupen1">
                        <div class="mb-3">
                            <div class="col-md-12 form-group ">
                                <input type="text" class="form-control" id="coupenid1" name="coupenid" value=""
                                    placeholder="COUPEN ID" />
                            </div>
                            <div class="col-md-12 form-group ">
                                <input type="text" class="form-control" id="coupencode1" name="coupencode" value=""
                                    placeholder="COUPEN CODE" />
                            </div>
                            <div class="col-md-12 form-group ">
                                <input type="text" class="form-control" id="coupendescription1" name="coupendescription"
                                    value="" placeholder="COUPEN DESCRIPTION" />
                            </div>
                            <div class="col-md-12 form-group ">
                                <input type="text" class="form-control" id="coupendiscount1" name="coupendiscount"
                                    value="" placeholder="COUPEN DISCOUNT" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {


            $('#productsTable').wrap('<div id="hide" style="display:none"/>');

            $('#hide').css('display', 'block');
        });


        var table = $('#productsTable').DataTable();
    </script>

    {{! validation }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>


    <style>
        .error {
            color: red;
            border: 1px solid red;
        }
    </style>

    <script>

        $(document).ready(function () {
            $('#viewcoupen1').validate({
                rules: {
                    coupenid: {
                        required: true
                    },
                    coupencode: {
                        required: true
                    },
                    coupendescription: {
                        required: true
                    },
                    coupendiscount: {
                        required: true
                    }

                }

            })
        })

    </script>
    <script>
        $('.editcoupen').each(function () {
            $(this).validate({
                rules: {
                    coupenid: {
                        required: true
                    },
                    coupencode: {
                        required: true
                    },
                    coupendescription: {
                        required: true
                    },
                    coupendiscount: {
                        required: true
                    }

                }
            })



        })
    </script>