<!-- banner part start-->
<section class="banner_part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="banner_slider owl-carousel">
          {{#each allbanner}}
          <div class="single_banner_slider">
            <div class="row" style="background-color: white;">
              <div class="col-lg-5 col-md-8">
                <div class="banner_text">
                  <div class="banner_text_iner">
                    <h1>{{this.Bannername}}</h1>
                    <p>{{Bannerdescription}}</p>
                  </div>
                </div>
              </div>
              <div class="banner_img d-block d-lg-block">
                <img src="/product-images/{{this.image}} " />
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="slider-counter"></div>
      </div>
    </div>
  </div>
</section>
<!-- banner part start-->
<section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Wood & Cloth
                                                Sofa</h1>
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Cloth & Wood
                                                Sofa</h1>
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Wood & Cloth
                                                Sofa</h1>
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Cloth $ Wood Sofa</h1>
                                            <p>Incididunt ut labore et dolore magna aliqua quis ipsum
                                                suspendisse ultrices gravida. Risus commodo viverra</p>
                                            <a href="#" class="btn_2">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/banner_img.png" alt="">
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="slider-counter"></div>
                </div>
            </div>
        </div>
    </section>











<!-- feature_part start-->
<section class="feature_part padding_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_tittle text-center">
          <h2>Shop Your Favorite</h2>
          <h5>Impressive Collection For Your Dream Home</h5>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      {{#each allCategory}}
      <div class="col-lg-6 col-sm-6">
        <div class="single_feature_post_text">
          <h3 class="" >{{this.categoryName}}</h3>
          <p>{{this.categoryDescription}}</p>
          
          <a href="/view-allproducts" class="feature_btn">EXPLORE NOW
            <i class="fas fa-play"></i></a>
          <a href="/view-allproducts/{{this.categoryName}}"><img src="/product-images/{{this.image}}"
              style="max-height:250px; min-height: 250px;   max-width: 250px; min-width: 250px; " alt=""></a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<!-- upcoming_event part start-->

<!-- product_list start-->
<section class="product_list section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
          <h2>awesome <span>shop</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="product_list_slider owl-carousel">
          <div class="single_product_list_slider" style="background-color: white; ">
            <div class="row align-items-center justify-content-between">
              {{#each allProduct}}
              <div class="col-lg-3 col-sm-6 align-items-center justify-content-between">
                <div class="single_product_item">
                  <td> <a href="/singleproduct/{{this._id}}"> <img src="/product-images/{{this.images.[0]}} " style="width: 100%; height: 25vh;object-fit: cover;" alt=""></a>
                  </td>
                  <div class="single_product_text">
                    <h4>{{this.productId}}</h4>
                    <h3 class="font-weight-normal"> Rs {{this.Price}}</h3>
                      <button onclick="addToCart('{{this._id}}')" class="btn btn-outline-dark">+ADD TO CART</button>
                    <button onclick="addtoWishlist('{{this._id}}')" class="btn btn-outline-dark"  style="border: none;" ><i class="ti-heart"></i></button>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- awesome_shop part start-->


<!-- subscribe_area part start-->
<section class="client_logo">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_1.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_2.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_3.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_4.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_5.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_3.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_1.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_2.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_3.png" alt="" />
        </div>
        <div class="single_client_logo">
          <img src="img/client_logo/client_logo_4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>




<script>
  function addToCart(proId) {
    $.ajax({
      url: '/addcart/' + proId,
      method: 'get',
      success: (response) => {
        if (response.status) {
          $("#cartCount").load(location.href + " #cartCount");
          swal("Good job!", "Item Will be Added To Your Cart!", "success");
          let count = $('#cartCount').html()
          count = parseInt(count) + 1
          $('#cartCount').html(count)
        }

      }
    })
  }
</script>
<script>
  function addtoWishlist(proId) {
    $.ajax({
      url: '/addwishlist/' + proId,
      method: 'get',
      success: (response) => {
        if(response.status){
          $('#WishlistCount').load(location.href +"#WishlistCount");
          let count=$('#Wishlistcount').html()
          count=parseInt(count)+1
          $('#Wishlistcount').html(count)
        }

      }

    })
  }
</script>